.word {
    font-size: large;
    font-weight: bold;
}

.wordContainer {
    height: 28px;
    padding-left: 10px;
}

#searchKey {
    margin:0px !important;
    padding-left:5px;
    padding-bottom:5px;
    padding-right: 10px;
    height: 32px !important;
    vertical-align: middle;
}
#abort {
    margin-left:160px;
}
#search {
    display:grid;
    width: 190px;
    grid-template-columns: 155px 30px;
    align-items: center;
}

.wordRow {
    scroll-snap-align: start;
}
hr {
    margin:0px;
}